* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    border-style: solid;
    border-width: 2px;
    border-color: fuchsia;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: rgb(255, 0, 0);
}

.top-bar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}